.Careers_content_description {
    font-family: 'Roboto';
    font-size: 18px;
    font-weight: 400;
    line-height: 27px;
    letter-spacing: 0em;
    text-align: center;
    color: black;
    opacity: 1;
    margin: 60px 0 0 0;
}

.Careers_content_description span {
    color: var(--blueTheme);
   
}

.careers_content_two {
    background: #FFFFFF;
    box-shadow: 0px 2px 50px rgba(0, 0, 0, 0.06);
    margin: 120px 0 120px 0;
}

.Careers_title {
    margin-top: 40px !important;
}

.careers_contai {
    padding: 60px 20px 20px 40px;
}



.content_Equity h3 {
    font-family: 'Roboto';
    font-size: 40px;
    font-weight: 500;
    line-height: 56px;
    letter-spacing: 0em;
    text-align: left;
    text-transform: uppercase;
    color: #0B2577;
    margin: 0 0 40px 0;
}

.content_Equity_ul li {
    font-family: 'Roboto';
    font-size: 21px;
    font-weight: 400;
    line-height: 1.5em;
    letter-spacing: 0em;
    text-align: left;
    color: #2B2B2B;
    margin: 24px 0 24px 4px;
}

.content_Equity_ul li:before {
    content: "";
    height: 7px;
    width: 7px;
    background: var(--blueTheme);
    display: inline-block;
    border-radius: 50%;
    position: absolute;
    align-items: center;
    left: -1.5rem;
    margin: auto;
    top: 0.7rem;
}

.content_work_title {
    font-family: 'Roboto';
    font-size: 24px;
    font-weight: 500;
    line-height: 36px;
    letter-spacing: 0em;
    text-align: left;
    text-transform: uppercase;
    color: #0B2577;
    margin: 40px 0 30px 0;

}

.content_bottom {
    font-family: 'Roboto';
    font-size: 21px;
    font-weight: 400;
    line-height: 1.5em;
    letter-spacing: 0em;
    text-align: left;
    color: #2B2B2B;
    margin: 40px 0;
}

.content_bottom span {
    color: var(--blueTheme)
}

@media screen and (max-width: 768px) {
    .CertificateOffering_des {
        font-weight: 400;
        font-size: 14px !important;
        line-height: 21px !important;
        text-align: left !important;
        color: #2B2B2B;
        opacity: 0.8;
    }
    .CertificateOffering_des br{
        display: none;
    }

    .Careers_title p {
        font-weight: 400;
        font-size: 14px;
        line-height: 21px;
        text-align: inherit;
        color: #2B2B2B;
        opacity: 0.8;
    }

    .Careers_title {
        margin-bottom: 72px !important;

    }

    .careers_contai {
        padding: 26px 16px 40px 16px;
    }

    .content_Equity h3 {
        font-weight: 500;
        font-size: 24px;
        line-height: 31px;
        text-transform: uppercase;
        color: #0B2577;
    }

    .content_Equity_ul {
        padding-left: 20px;
    }

    .content_Equity_ul li {
        font-weight: 400;
        font-size: 14px;
        line-height: 21px;
        color: #2B2B2B;
        margin: 14px;
    }

    .content_Equity_ul li:before {
        content: "";
        height: 7px;
        width: 7px;
        background: var(--blueTheme);
        display: inline-block;
        border-radius: 50%;
        position: absolute;
        align-items: center;
        left: -1.5rem;
        margin: auto;
        top: 0.4rem;
    }

    .content_work_title {
        margin: 40px 0 24px 0;
        font-weight: 400;
        font-size: 18px;
        line-height: 27px;
        text-transform: uppercase;
        color: #0B2577;
    }

    .content_bottom {
        margin: 16px 0 0px 0;
    }

    .content_bottom p {
        font-weight: 400;
        font-size: 15px;
        line-height: 1.5em;
        color: #2B2B2B;
        margin: 0;
    }

    .careers_content_two {
        margin: 72px 0 72px 0;
    }
    .content_bottom {
        font-size: 15px !important;
        line-height: 1.5em;
    }

}

@media screen and (min-width: 769px) and (max-width: 1024px) {
    .Careers_title p {
        text-align: left;
    }

    .Careers_content_description br {
        display: none;
    }
}