.link_linktab {
    display: grid;
    grid-template-columns: repeat(5, 1fr);

}

.link_linktab button:hover {
    background: #0B2577;
    color: #fff;
}

.link_linktab button {
    margin: 120px 0 80px 0 !important;
    text-align: center;
    cursor: pointer;
    height: 79px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 22px;
    line-height: 36px;
    text-transform: uppercase;
    color: #0B2577;
    border: 1px solid #0B2577;
    background: #fff;
}

.link_linktab button>span {
    margin-left: 16px !important;
}

.link_linktab button:nth-child(2),
.link_linktab button:nth-child(4) {
    border-left: none;
    border-right: none;
}


button.active {
    background: #0B2577;
    color: #fff;
}

@media screen and (max-width: 320px) {
    .about_countdown_grid .about_countDown_content {
        display: grid !important;
        grid-template-columns: 1fr !important;
    }
}

@media screen and (max-width: 768px) {
    .link_linktab {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        padding: 0 !important;
        margin: 70px 0 50px 0 !important;
    }


    .link_linktab button {
        margin: 0px !important;
        /* display: flex; */
        width: 33.33%;
        margin: 10px 0;
        text-align: center;
        cursor: pointer;
        min-height: 35px;
        height: unset;
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 400;
        font-size: 11px;
        line-height: 20px;
        text-transform: uppercase;
        color: #0B2577;
        border: 1px solid #0B2577;
        background: #fff;
    }

    .link_linktab button:nth-child(4),
    .link_linktab button:nth-child(5) {
        margin-top: 20px !important;
    }


    .link_linktab button>span {
        display: none !important;
    }

    .link_linktab button:nth-child(4) {
        border-left: 1px solid #0B2577;
    }

    button.active {
        background: #0B2577;
        color: #fff;
    }
}

@media screen and (min-width: 769px) and (max-width: 1024px) {
    .link_linktab button>span {
        display: none !important;
    }

}