.description_approach {
    display: grid;
    grid-template-columns: 1.5fr 3fr;
    gap: 31px;
    margin: 60px 0 95px 0;
}

.description_approach_title h3 {
    font-family: Roboto;
    font-size: 40px;
    font-weight: 500;
    line-height: 56px;
    letter-spacing: 0em;
    text-align: left;
    text-transform: uppercase;
    color: #0B2577;
    margin: 0;
}

.description_approach_text .approach_text_one {
    margin-top: 12px;
}

.description_approach_text p {
    font-family: 'Roboto';
    font-size: 21px;
    font-weight: 400;
    line-height: 1.5em;
    letter-spacing: 0em;
    text-align: left;
    color: #2B2B2B;
    margin: 0;
}

.description_approach_text p:not(:last-child) {
    margin-bottom: 16px;
}


.approach_market {
    position: relative;
    /* margin-bottom: 116px; */
}

.approach_market_content {
    left: auto;
    right: auto;
    text-align: center;
    position: absolute;
    top: 15%;
}

.approach_market_content h3 {
    font-family: 'Roboto';
    font-size: 40px;
    font-weight: 500;
    line-height: 56px;
    letter-spacing: 0em;
    text-align: left;
    color: #0B2577;
    margin: 28px 0 28px 0;
    text-transform: uppercase;
}

.approach_market_content p {
    font-family: 'Roboto';
    font-size: 25px;
    font-weight: 500;
    line-height: 41px;
    letter-spacing: 0em;
    text-align: center;
    color: #2B2B2B;
    text-align: center;
}

.approach__market_des {
    text-align: center;
    margin: auto;
    max-width: 1055px;
}

.approach_market_content_block {
    margin-top: 40px !important;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.approach_market__block {
    Width: 17.4rem;
    Height: auto;
    background: #ffff;
    /* cursor: pointer; */
    clip-path: polygon(5% 0, 100% 0, 100% 0, 100% 95%, 95% 100%, 0 100%, 0 100%, 0 5%);
}

.approach_market__block:hover {
    background: #75D0C8;
}

.approach_market__block:hover p {
    color: white;
}

.approach_market__block p {
    font-family: 'Roboto';
    font-size: 20px;
    font-weight: 400;
    line-height: 27px;
    letter-spacing: 0em;
    text-align: center;
    margin: 56px 24px 56px 24px;
}

.approach_materials h3 {
    font-family: 'Roboto';
    font-size: 40px;
    font-weight: 500;
    line-height: 56px;
    letter-spacing: 0em;
    text-transform: uppercase;
    color: #0B2577;
    text-align: center;
    margin: auto;
    max-width: 483px;
}

.approach_materials_content_document {
    padding: 12px 15px 16px 15px;
    text-align: center;
    opacity: 1;
    border-left: 1px solid rgba(43, 43, 43, 0.6);
    border-bottom: 1px solid rgba(43, 43, 43, 0.6);
}

.approach_materials_content_document:nth-child(-n + 4) {
    border-top: 1px solid rgba(43, 43, 43, 0.6);
}

.approach_materials_content_document:nth-child(4n+1) {

    border-left: none;
    border-right: none;
}

.approach_materials_content_document:nth-child(4n+2) {
    border-right: none;
}

.approach_materials_content_document:nth-child(4n+3) {
    border-right: none;
}

.approach_materials_content_document:nth-child(4n) {

    border-right: 0px;
    padding-right: 0px;
}

.approach_materials_content {
    display: grid;
    margin: 40px 0 0px 0;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}

.image___market>span {

    width: 100% !important;
    height: 100% !important;
}

.image_approach_market {
    width: 100%;
    object-fit: cover;
}


.image___market {
    width: 100;
    height: 610px;
    object-fit: cover;
}

.materials_content_document_text p {
    font-family: 'Roboto';
    font-size: 20px;
    font-weight: 500;
    line-height: 29px;
    letter-spacing: 0em;
    text-align: center;
    color: #0B2577;
}

.hover_approach_materials {
    background-color: rgba(0, 0, 0, 0.20);
}

.hover_approach_materials p {
    font-family: 'Roboto';
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0em;
    text-align: center;
    color: #ffff;

}

.materials_content_document_image {
    position: relative;
}

.hover_approach_materials {
    position: absolute;
    top: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
}

.materials_content_document_image>.image-container>span {
    width: 100% !important;
    height: 328px !important;
}

.materials_content_document_image>.image-container>span img {
    object-fit: cover !important;
}

.hover_approach_materials {
    position: absolute;
    margin: auto;
    bottom: 0;
}

.approach_materials_content_document:hover .hover_approach_materials {
    opacity: 1;
    cursor: pointer;
    transition: .6s;

}

.hover_approach_button {
    position: absolute;
    background: transparent;
    border: none;
    outline: none;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
}

@media screen and (max-width: 320px) {
    .approach_materials_content_document {
        padding: 24px 0;
    }
}

@media screen and (max-width: 768px) {
    .description_approach {
        display: flex;
        flex-direction: column;
    }

    .description_approach_title {
        /* padding-top: 72px !important; */
    }

    .description_approach_title h3 {
        font-weight: 500;
        font-size: 24px;
        line-height: 31px;
        text-align: left;
        text-transform: uppercase;
        color: #0B2577;
        /* margin: 0 20px 0 20px; */
    }

    .image___market {
        width: 100;
        height: 685px;
        object-fit: cover;
    }

    .description_approach {
        margin: 0 0 72px 0;
    }

    .description_approach_text p {
        font-weight: 400;
        font-size: 15px;
        line-height: 1.5em;
        text-align: left;
        color: #2B2B2B;
        opacity: 0.8;
    }

    .approach_market_content {
        padding: 0 !important;
    }

    .approach_market_content h3 {
        font-weight: 500;
        font-size: 24px;
        line-height: 36px;
        text-align: left;
        text-transform: uppercase;
        color: #0B2577;
        padding: 0 24px;
        margin: auto;
    }

    .approach_market_content p {
        font-weight: 400;
        font-size: 14px;
        line-height: 21px;
        text-align: center;
        color: #2B2B2B;
        padding: 0 30px;
        margin: 24px auto;
    }

    .approach_market_content {
        left: 0;
        right: 0;
        text-align: center;
        position: absolute;
        top: 15%;
    }

    .approach_market_content_block {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: 1fr 1fr;
        align-items: center;
        margin: auto;
        gap: 16px;
    }

    .approach_market__block {
        display: flex !important;
        flex-wrap: wrap !important;
        height: 100% !important;
        width: auto;
    }

    .approach_market__block p {
        font-weight: 500;
        font-size: 12.5px;
        line-height: 21px;
        text-align: center;
        color: #2B2B2B;
        margin: 20px 0;
        padding: 0 16px;
    }

    .approach_materials h3 {
        font-weight: 500;
        font-size: 24px;
        line-height: 36px;
        text-align: center;
        text-transform: uppercase;
        color: #0B2577;
    }

    .approach_materials_content {
        display: grid;
        grid-template-columns: 1fr;
    }

    .approach_materials_content_document {
        border-left: none;
        border-right: none;
        border-bottom: none;
        padding: 24px 35px !important;
    }

    .content_bottom p {
        margin-top: 18px;
    }

    .approach_materials_content_document:first-child {
        border-left: none;
        border-right: none;
        padding-left: 35px !important;
    }

    .approach_materials_content_document:last-child {

        padding-right: 35px !important;
    }

    .materials_content_document_text p {
        font-weight: 400;
        font-size: 16px;
        line-height: 24px;
        text-align: center;
        color: #0B2577;
    }

    .materials_content_document_image>.image-container>span {
        width: 100% !important;
        height: 320px !important;


    }

    .materials_content_document_image>.image-container {
        box-shadow: 0px 2px 50px 0px rgba(0, 0, 0, 0.08);



    }


}

@media screen and (max-width: 340px) {
    .approach_market__block {
        height: 100%;
    }

    .approach_market_content_block {
        gap: 10px;
    }

    .approach_market__block p {
        font-size: 12px;
    }

    .approach_market_content {
        left: 0;
        right: 0;
        text-align: center;
        position: absolute;
        top: 10%;
    }



}

@media screen and (min-width: 769px) and (max-width: 1224px) {
    .approach_market {
        padding-top: 60px;
        padding-bottom: 60px;
    }

    .image___market {
        width: 100%;
        height: 100%;
        object-fit: cover;
        position: absolute;
        top: 0;
    }


    .image___market {
        width: 100;
        height: 610px;
        object-fit: cover;
    }
    .approach_market_content {
        padding: 0 !important;
    }

    .approach_market_content h3 {
        font-weight: 500;
        font-size: 26px;
        line-height: 36px;
        text-align: center;
        text-transform: uppercase;
        color: #0B2577;
        padding: 0 30px;
        margin: 0px;
    }

    .approach_market_content p {
        font-weight: 400;
        font-size: 17px;
        line-height: 21px;
        text-align: center;
        color: #2B2B2B;
        padding: 0 30px;
        margin: 24px auto;
    }

    .approach_market_content {
        left: 0;
        right: 0;
        text-align: center;
        position: relative;
        top: 15%;
    }

    .approach_market_content_block {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        align-items: center;
        margin: auto;
        gap: 16px;
    }

    .approach_market__block {
        display: flex !important;
        flex-wrap: wrap !important;
        height: 100%;
        width: auto;
    }

    .approach_market__block p {
        width: 100%;
        min-height: 100px;
        font-weight: 500;
        font-size: 16px;
        line-height: 25px;
        text-align: center;
        color: #2B2B2B;
        margin: 20px 0;
        padding: 20px 25px;
    }

    .approach_materials_content {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
    }

    .approach_materials_content_document {
        margin-bottom: 0px;

    }

    .approach_materials_content_document:last-child {
        border-top: none;
        border-right: 1px solid black !important;
        padding-right: 15px !important;

    }
    .description_approach_text p{
        font-size: 18px;
        line-height: 1.5em;
    }

    .approach_materials_content_document:nth-child(-n + 3) {
        border-top: 1px solid rgba(43, 43, 43, 0.6);
    }

    .approach_materials_content_document:nth-child(3n+1) {
        border-left: none;
        /* border-right: none !important; */
    }

    .approach_materials_content_document:nth-child(3n+2) {
        border-right: none;
    }

    .approach_materials_content_document:nth-child(3n+3) {
        border-right: none;
    }

    .approach_materials_content_document:nth-child(3n) {

        border-right: 0px;
        padding-right: 0px;
    }

}