.small-title-section .title {
    font-family: Roboto;
    font-size: 40px;
    font-weight: 500;
    line-height: 56px;
    letter-spacing: 0em;
    color: var(--blueTheme);
    text-transform: uppercase;
    text-align: left;
    margin-bottom: 24px;
}

.small-title-section .children {
    font-family: Roboto;
    font-size: 21px;
    font-weight: 400;
    line-height: 1.5em;
    letter-spacing: 0em;
    text-align: left;
    color: #2B2B2B
}

.small-title-section .children p {
    margin: 0px !important;
}

@media screen and (max-width: 768px) {
    .small-title-section .title {
        font-family: 'Roboto';
        font-size: 24px;
        font-weight: 500;
        line-height: 31px;
        letter-spacing: 0em;
        text-align: left;
        text-transform: uppercase;
        color: #0B2577;
    }

    .small-title-section .children {
        font-family: Roboto;
        font-size: 15px;
        font-weight: 400;
        line-height: 1.5em;
        letter-spacing: 0em;
        text-align: left;

    }

    /* .certoffering{
        margin-top: 72px !important;
    } */
}