.solution-hero-text {
  margin-top: 60px;
  margin-bottom: 40px;
}

.solution-hero-text .children {
  font-family: Roboto;
  font-size: 22px;
  font-weight: 400;
  line-height: 33px;
  letter-spacing: 0em;
  text-align: left;
  color: var(--blueTheme);
}

.asset-management .asset-wrapper .text-container p {
  margin: 0px;
}


.property-solution {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 70px;
  margin-bottom: 120px !important;
}

.react-tabs__tab.react-tabs__tab--selected {
  border: none !important;
  outline: none !important;
}

.react-tabs__tab.react-tabs__tab--selected .property-item {
  box-shadow: 0px 1px 50px 0px rgba(11, 37, 119, 0.2);
  transform: scale(1.15) !important;
  border: none !important;
  outline: none !important;

}

.property-solution .property-item {
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  box-shadow: 0px 1px 50px 0px rgba(0, 0, 0, 0.06);
  padding-top: 49px;
  padding-bottom: 49px;
  transform: scale(1) !important;
  opacity: 1;
  transition: 0.3s;

}

.property-solution .property-item:hover {
  box-shadow: 0px 1px 50px 0px rgba(11, 37, 119, 0.3);
  transform: scale(1.15) !important;

}

.property-solution .property-item .image-container>span {
  height: 64px !important;
}

.property-solution .property-item .title {
  font-family: Roboto;
  font-size: 24px;
  font-weight: 500;
  line-height: 36px;
  letter-spacing: 0em;
  text-align: center;
  color: var(--blueTheme);
  text-transform: uppercase;
  margin-top: 24px;
  padding-right: 15px;
  padding-left: 15px;
}

.solution-mandate-text {
  margin-bottom: 40px;
}

.solution-mandate-text .children p:not(:last-child) {
  margin-bottom: 16px !important
}

.solution-other-prouct .children p:not(:last-child) {
  margin-bottom: 16px !important
}

.mandate-property {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  margin-bottom: 120px !important;
}

.mandate-property .mandate-property-item {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: left;
  padding-top: 40px;
  padding-bottom: 40px;
  padding-right: 10px;
  padding-left: 10px;
  border-right: 1px solid rgba(43, 43, 43, 0.6);
  border-top: 1px solid rgba(43, 43, 43, 0.6);
  border-bottom: 1px solid rgba(43, 43, 43, 0.6);
}

.mandate-property .mandate-property-item .content-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  flex-grow: 1 !important;

}

.mandate-property .mandate-property-item:last-child {
  border-right: none;
}

.mandate-property .mandate-property-item .image-container>span {
  height: 62px !important;
}

.mandate-property .mandate-property-item .description {
  font-family: Roboto;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0em;
  text-align: center;
  color: black;

}

.mandate-property .mandate-property-item .title {
  font-family: Roboto;
  font-size: 16px;
  font-weight: 700;
  line-height: 31px;
  letter-spacing: 0em;
  text-align: left;
  color: var(--blueTheme);
  margin-top: 17px;
  margin-bottom: 8px;

}

.asset-management {
  margin-top: 120px !important;
  margin-bottom: 120px !important;
}

.asset-management .title {
  font-family: Roboto;
  font-size: 40px;
  font-weight: 500;
  line-height: 56px;
  letter-spacing: 0em;
  text-align: left;
  text-transform: uppercase;
  color: var(--blueTheme);


}

.asset-management .asset-wrapper {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-template-rows: repeat(2, auto);
  gap: 62px;
  margin-top: 40px;
  display: flex;
  flex-direction: column-reverse;
}

.asset-management .asset-wrapper .asset-item {
  display: grid;
  grid-template-columns: 1fr 1fr;
  border: 1px solid var(--blueTheme);
}

.asset-management .asset-wrapper .asset-item .title-heading {
  margin-bottom: 30px;
  font-family: Roboto;
  font-size: 32px;
  font-weight: 500;
  line-height: 42px;
  letter-spacing: 0em;
  text-align: left;
  color: var(--blueTheme);
  text-transform: uppercase;

}

.asset-management .asset-wrapper .text-container {
  font-family: Roboto;
  font-size: 20px;
  font-weight: 400;
  line-height: 29px;
  letter-spacing: 0em;
  text-align: left;
  color: black;
  padding-left: 40px !important;
  padding-right: 40px !important;
  padding-top: 35px;
  padding-bottom: 35px;
  position: relative;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;




}


.asset-management .asset-wrapper .text-container .factsheet {
  background-color: var(--lightBlueTheme);
  display: flex;
  align-items: center;
  padding: 16px 37px;
  margin-top: 40px;
  color: white;
  font-family: Roboto;
  font-size: 16px;
  font-weight: 500;
  line-height: 19px;
  letter-spacing: 0em;
  text-align: left;
  gap: 18px;
  cursor: pointer;

}

.asset-management .grid-button {
  margin-top: 80px;
  position: relative !important;
  top: 100%;
  transform: translateY(0%);

}

.asset-management .asset-wrapper .text-container .image-container {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: -1;
}

.asset-management .asset-wrapper .text-container .image-container>span {

  height: 100% !important;
  width: 100% !important;
}

.asset-management .asset-wrapper>.asset-item>.image-container>span {
  width: 100% !important;
  height: 100% !important;
}

.asset-management .asset-wrapper>.asset-item>.image-container img {
  object-fit: cover;
}

/* .asset-management .asset-wrapper>.image-container{
    clip-path: polygon(0 0, calc(100% - 30px) 0%, 100% 30px, 100% 100%, 100% 100%, 30px 100%, 0% calc(100% - 30px), 0 0);
} */

.other-product-wrapper {
  padding-bottom: 120px !important;
}

.other-product-wrapper .image-other-product {
  margin-top: 40px !important;
}

.color1 {
  color: #BF0D3E !important;
}

.color2 {
  color: #91928a !important;
}



/* -----------------table----------------- */
.image-container-table {
  padding: 35px 40px;
}

.table-Solutions {
  width: 100%;
  color: #333;
  background: white;
  border: 1px solid grey;
  border-collapse: collapse;
}

.table-Solutions thead th {
  font-family: Roboto;
  color: #fff;
  background: var(--blueTheme);
  text-align: left;
  font-size: 18px;
  width: 50%;
  border-top: 1px solid var(--blueTheme);
  border-left: 1px solid var(--blueTheme);
  border-bottom: 1px solid var(--blueTheme);
}

.table-Solutions thead th:nth-child(2) {
  font-family: Roboto;
  color: #fff;
  background: var(--blueTheme);
  text-align: left;
  font-size: 18px;
  width: 50%;
  border-top: 1px solid var(--blueTheme);
  border-right: 1px solid var(--blueTheme);
  border-bottom: 1px solid var(--blueTheme);
}



.table-Solutions caption {
  padding: .5em;
}

.table-Solutions th,
.table-Solutions td {
  padding: .5em;
  border: 1px solid lightgrey;
}

.table-Solutions tr td {
  font-size: 16px;
  font-family: Roboto;
  /* opacity: .5; */
  color: #333;
}

.table-Solutions tbody tr:nth-child(2n + 1) {
  background: #EEEEEE;
}






@media (max-width:1024px) and (min-width:769px) {

  .other-product-wrapper .image-other-product {
    margin-top: 30px !important;
  }

  .asset-management {
    margin-top: 120px !important;
    margin-bottom: 60px !important;
  }

  .mandate-property {
    display: flex !important;
    /* flex-direction: row-reverse; */
    flex-wrap: wrap;
    justify-content: center;
  }

  .mandate-property .mandate-property-item:nth-child(-n+3) {
    border-top: 1px solid rgba(43, 43, 43, 0.6);

  }

  .mandate-property .mandate-property-item:nth-child(3) {
    border-right: 0px;
  }

  .mandate-property .mandate-property-item:nth-child(4) {
    border-left: 1px solid rgba(43, 43, 43, 0.6);
    border-top: 1px solid rgba(43, 43, 43, 0.6);
  }

  .mandate-property .mandate-property-item:nth-child(5) {
    border-right: 1px solid rgba(43, 43, 43, 0.6);
  }

  .mandate-property .mandate-property-item {
    flex-shrink: 0;
    width: calc(100% / 4) !important;
    border-top: 0px;
  }
}

@media (max-width:768px) {
  .property-solution {
    grid-template-columns: 1fr;
    gap: 20px;
  }

  .solution-hero-text .children {
    text-align: left;

    font-size: 14px;
    font-weight: 400;
    line-height: 21px;
    letter-spacing: 0em;
    color: var(--blueTheme);

  }

  .mandate-property {
    grid-template-columns: repeat(1, 1fr);
    margin-bottom: 72px !important;
  }

  .solution-hero-text {
    margin-top: 30px !important;
  }

  .other-product-wrapper {
    padding-bottom: 72px !important;
  }

  .asset-management .asset-wrapper .text-container {
    text-align: left;

    font-size: 14px;
    font-weight: 400;
    line-height: 21px;
    letter-spacing: 0em;
    color: black;

  }

  .asset-management .asset-wrapper {
    grid-template-columns: 1fr;
    margin-top: 20px;
  }

  .image-container-table {
    padding: 20px
  }

  .table-Solutions thead th {
    font-size: 16px;
  }

  .table-Solutions tr td {
    font-size: 12px;
  }

  /* .asset-management .asset-wrapper >.image-container:last-child{
        grid-row: 3 / 4 !important;
    }
    
    .asset-management .asset-wrapper>.text-container:nth-child(1){
        margin-bottom: 20px !important;
    }
    .asset-management .asset-wrapper>.text-container .image-container{
        transform: scaleY(-1);
    } */
  .asset-management {
    margin-bottom: 22px !important;
    margin-top: 72px !important;
  }

  .asset-management .title {
    font-family: 'Roboto';
    font-size: 24px;
    font-weight: 500;
    line-height: 31px;
    letter-spacing: 0em;
    text-align: left;
    text-transform: uppercase;
    color: #0B2577;
  }

  .mandate-property .mandate-property-item {
    border: 0px;
    border-bottom: 1px solid rgba(43, 43, 43, 0.6);
    display: grid;
    grid-template-columns: 50px 1fr;
    padding: 20px 0px !important;
    align-items: flex-start;
    gap: 20px;

  }

  .mandate-property .mandate-property-item .content-wrapper {

    display: flex;
    flex-direction: column !important;
    justify-content: left !important;
    align-items: flex-start;

  }

  .mandate-property .mandate-property-item .content-wrapper .description {

    text-align: left;

  }

  .mandate-property .mandate-property-item .title {
    margin-top: 0px !important;
    margin-bottom: 4px !important;
  }

  .mandate-property .mandate-property-item .image-container {
    /* width: 90px !important;
        height: unset !important; */
  }

  .mandate-property .mandate-property-item:first-child {

    border-top: 1px solid rgba(43, 43, 43, 0.6);
  }

  .property-solution .property-item {
    padding: 20px 15px !important;
  }

  .property-solution .property-item .image-container>span {
    height: 45px !important;
  }

  .property-solution .property-item .title {

    font-size: 14px;
    font-weight: 600;
    line-height: 21px;
    letter-spacing: 0em;
    text-align: center;

  }

  .property-solution {
    margin-bottom: 72px !important;
  }

  .solution-mandate-text .children p:not(:last-child) {
    margin-bottom: 14px !important
  }

  .solution-other-prouct .children p:not(:last-child) {
    margin-bottom: 14px !important
  }

  .mandate-property .mandate-property-item .content-wrapper .title {

    font-size: 14px;
    font-weight: 700;
    line-height: 21px;
    letter-spacing: 0em;
    text-align: left;

  }

  .mandate-property .mandate-property-item .content-wrapper .description {

    font-size: 14px;
    font-weight: 400;
    line-height: 21px;
    letter-spacing: 0em;
    text-align: left;

  }

  .asset-management .grid-button {
    margin-top: 30px;
    padding: 0px !important;
    margin-bottom: 72px !important;
  }

  .asset-management .grid-button>.container {
    padding: 0px !important;
  }


  .asset-management .asset-wrapper .asset-item {
    display: grid;
    grid-template-columns: 1fr;
    border: 1px solid var(--blueTheme);

  }

  .asset-management .asset-wrapper .asset-item .text-container {
    padding: 20px !important;
  }

  .asset-management .asset-wrapper .asset-item:nth-child(2) .text-container {
    grid-row: 2 / 3;
  }

  .asset-management .asset-wrapper .text-container .factsheet {
    padding: 7px 15px;
    margin-top: 20px;
  }

  .asset-management .asset-wrapper .asset-item .title-heading {
    margin-bottom: 15px;
    font-family: Roboto;
    font-size: 22px;
    font-weight: 500;
    line-height: 30px;
    letter-spacing: 0em;
    text-align: left;
    color: var(--blueTheme);
    text-transform: uppercase;
  }

  .react-tabs__tab.react-tabs__tab--selected .property-item {
    box-shadow: 0px 1px 50px 0px rgba(11, 37, 119, 0.3);
    transform: scale(1.07) !important;
    border: none !important;
    outline: none !important;

  }




}